<% layout('/layouts/boilerplate.ejs') %>
<div class="row">
  <div class="col-8 offset-2">
    <br />
    <h3>Edit your Listing</h3>
    <form
      method="POST"
      action="/listings/<%= listing.id %>?_method=PUT"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="form-label mb-0">Title</label>
        <input
          name="listing[title]"
          value="<%= listing.title %>"
          type="text"
          class="form-control"
          required
        />
      </div>
      <br />
      <div>
        <label for="description" class="form-label mb-0">Description</label>
        <textarea name="listing[description]" class="form-control" required>
<%= listing.description %></textarea
        >
      </div>
      <br />
      <div>
        Original Listing Image<br />
        <img src="<%=originalImageUrl %>" style="width: 15rem; height: 12rem" />
      </div>
      <br />
      <div>
        <label for="image" class="form-label mb-0">Upload New Image</label>
        <input name="listing[image]" type="file" class="form-control" />
      </div>
      <br />
      <div class="row">
        <div class="col-md-4">
          <label for="price" class="form-label mb-0">Price</label>
          <input
            name="listing[price]"
            value="<%= listing.price %>"
            type="number"
            class="form-control mb-3 mb-md-0"
            required
          />
        </div>
        <div class="col-md-8">
          <label for="country" class="form-label mb-0">Country</label>
          <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
        </div>
      </div>
      <br />
      <div>
        <label for="location" class="form-label mb-0">Location</label>
        <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
        />
      </div>
      <br />
      <label for="category" class="form-label">Category</label>
      <select
        name="listing[category]"
        id="category"
        required
        class="form-control"
      >
        <option value="" disabled hidden selected>Select Category</option>
        <option value="Mountain" <%= listing.category === 'Mountain' ? 'selected' : '' %>>Mountain</option>
        <option value="Beach" <%= listing.category === 'Beach' ? 'selected' : '' %>>Beach</option>
        <option value="Rooms" <%= listing.category === 'Rooms' ? 'selected' : '' %>>Rooms</option>
        <option value="Camping" <%= listing.category === 'Camping' ? 'selected' : '' %>>Camping</option>
        <option value="Farms" <%= listing.category === 'Farms' ? 'selected' : '' %>>Farms</option>
        <option value="Arctic" <%= listing.category === 'Arctic' ? 'selected' : '' %>>Arctic</option>
        <option value="Iconic Cities" <%= listing.category === 'Iconic Cities' ? 'selected' : '' %>>Cities</option>
        <option value="Play" <%= listing.category === 'Play' ? 'selected' : '' %>>Play</option>
        <option value="Boat" <%= listing.category === 'Boat' ? 'selected' : '' %>>Boat</option></select
      ><br />
      <button
        class="btn btn-primary"
        style="width: 7rem; background-color: #ee3844; border: none"
      >
        Edit
      </button>
    </form>
  </div>
</div>
<br />
